
/* header */
header {
    background: #3359DF;
    height: 60px;
    padding-bottom: 30px;
}

header .header-brand {
    margin: 30px 0;
    text-align: left;
    line-height: 40px;
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: rgb(253, 252, 252); 
    text-transform: uppercase;
    display: block;

}

header nav ul {
    margin: 20px 100px 40px 20px ;
    float: right;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;

}

header a {
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;
    color: rgb(253, 252, 252);
 }

 header a[class = "active"]{
     background: rgb(223, 221, 221);
     border-bottom: 5px solid black;
     padding: 10px;
     color: #3359DF;
 }

/* main content */

main {
    margin-top: 10px;
}

main h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    float: left;
    margin-left: 50px;
    padding-top: 150px;
    
}

/* main .icon {
    float: right;
    width: 500px;
    height: 300px;
    background-image: url('/register-icon.png');
    background-repeat: no-repeat;
} */

form {
    padding: 30px;
    margin: 0 auto;
    width: 30%;
    border: 2px solid rgb(190, 187, 187);
    border-radius: 20px;
}
form label {
    width: 100%;
    line-height: 30px;
    font-size: 20px;
}

form input {
    font-size: 15px;
    height: 40px;
    border: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 2px solid rgb(212, 165, 165);
}

form input[type = "submit"] {
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    width: 30%;
    background-color: #DB2B30;
    font-size: 20px;
    font-style: italic;
}

form p {
    font-size: 20px;
    float: right;
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 80px);
    margin-top: 20px;
    background-color: #3359DF;
    padding: 0 40px;
    overflow: hidden;
    text-align: center;
    float:bottom;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    *{
        text-decoration: none;
    }

    main h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        display: none;
        
    }

    form {
        margin-bottom: 80px;
        overflow: hidden;
        width: 50%;
        border: 2px solid rgb(190, 187, 187);
        border-radius: 20px;
    }
    form label {
        width: 100%;
        line-height: 30px;
        font-size: 20px;
    }
    
    form input {
        font-size: 15px;
        height: 40px;
        border: none;
        width: 100%;
        padding: 7px 0;
        border-bottom: 2px solid rgb(212, 165, 165);
    }
    
    form input[type = "submit"] {
        border: none;
        border-radius: 7px;
        margin-top: 10px;
        width: 30%;
        background-color: #DB2B30;
        font-size: 20px;
        font-style: italic;
    }
    
    form p {
        /* font-size: 20px; */
    }
    
    /* body{
        background-color: #f3f3f3;
    } */
    header{
        width: 100%;
        height: 180px;
    }
    
    
    header .header-brand{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 24px;
       font-weight: 900;
       color: #111; 
       text-transform: uppercase;
       display: block;
       text-align: center;
       border: none;
       
    }
    
    header nav ul {
        display: block;
        width: fit-content;
    }
    
    header nav ul li {
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 16px;
    }
    
    header nav ul li a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 16px;
       text-transform: uppercase;
       line-height: 40px;
       overflow: visible;
    }
    
    header .header-cases {
        display: none;
    }
    footer {
        position: fixed;
    }
}