
/* header */
header {
    background: #3359DF;
    height: 60px;
    padding-bottom: 30px;
}

header .header-brand {
    margin: 30px 0;
    text-align: left;
    line-height: 40px;
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: rgb(253, 252, 252); 
    text-transform: uppercase;
    display: block;

}

header nav ul {
    margin: 20px 100px 40px 20px ;
    float: right;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;

}

header a {
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;
    color: rgb(253, 252, 252);
 }

 header a[class = "active"]{
     background: rgb(223, 221, 221);
     border-bottom: 5px solid black;
     padding: 10px;
     color: #3359DF;
 }

/* main content */

main {
    margin-top: 10px;
}

main h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    float: left;
    margin-left: 50px;
    padding-top: 150px;
    
}

main {
    position: absolute;
}

main .left-bar {
    padding-top: 50px;
    margin-top: 20px;
    float: left;
    width: 18%;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
}
main nav{

}
main nav ul {
    float: left;
}

main nav ul li {
    padding: 20px 0;
    display: block;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

main nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(50, 47, 219);
}

main nav ul li[class="active"] {
    border-left: 5px solid black;
    background-color: gray;
    margin-left: -20px;
    color: #3359DF;
    font-weight: bold;
    padding: 10px;
}
main .content {
    padding: 10px;
    height: 400px;
    float: right;
    width: 80%;
    /* overflow: visible; */

}

main .messageContainer {
    padding: 10px;
    border-top: 1px solid rgb(9, 86, 109);
    border-bottom: 1px solid rgb(9, 86, 109);
    border-radius: 10px;
    margin: 0 20px 10px;
}
main .sender {
    line-height: 30px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 86, 109);
}

main .sender p{
    width: 100px;
    text-align: center;
    margin-left: 400px;
    margin-top: -35px;
    padding: 0 10px;
    color: red;
    background: rgb(173, 122, 122);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 86, 109);
}

main .message {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
}

main .sender p {
    /* float: left; */
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 80px);
    margin-top: 20px;
    background-color: #3359DF;
    padding: 0 40px;
    overflow: hidden;
    text-align: center;
    float:bottom;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}